{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<main>
		<img class="img_vector1" src="/img/Vector1.png" alt="image_vector">
		<h2>RÉSERVATION</h2>

		<section class="my-5 mx-auto section_main_reservation">
			<article class="article_img_reservation">
				<img class="w-100 shadow img_main" src="/img/reservation.jpg" alt="image_façade">
			</article>
			<article class="border shadow form_reservation">
				{{ form_start(reservationForm, {'attr': {'class': 'py-5 px-3'}}) }}
				<div class="row row-cols-2 gx-2 gy-5 section_form_reservation">
					<span class="col py-2">
						<p>Date de début</p>
					</span>
					<span class="col">
						{{ form_row(reservationForm.start_date, { 'id': 'inputDateIn'}) }}
					</span>
					<span class="col py-2">
						<p>Date de fin</p>
					</span>
					<span class="col">
						{{ form_row(reservationForm.end_date, { 'id': 'inputDateOut'}) }}
					</span>
					<span class="col text_nbr_people">
						<p>Nombre d'adultes</p>
					</span>
					<span class="col">
						{{ form_row(reservationForm.number_person, { 'id': 'inputNumberAdult'}) }}
					</span>
				</div>
				<div class="text-center py-5" id="priceRender"></div>
				{% if app.user and app.user.isVerified == false %}
					<div class="d-flex justify-content-center">
						<p class="shadow mb-5 d-flex align-items-center justify-content-center active_account">Activer votre compte</p>
					</div>
				{% elseif app.user and app.user.isVerified == true %}
					<div class="d-flex justify-content-center">
						<button class="btn shadow mb-5 d-flex align-items-center justify-content-center btn_reserver_reservation" type="submit">Accès au paiement</button>
					</div>
				{% else %}
					<div class="d-flex justify-content-center">
						<a class="btn shadow mb-5 d-flex align-items-center justify-content-center btn_reserver_reservation" href="{{ path('app_login') }}" type="button">Me connecter</a>
					</div>
				{% endif %}
				{{ form_end(reservationForm) }}
			</article>
		</section>
		<img class="img_vector2_reservation" src="/img/Vector2.png" alt="image_vector">
	</main>

	<script>
		const datas = {{ dataReservation|json_encode()|raw }}
		console.log(datas)
// console.log(objet)
// console.log(Object.values(objet))
	</script>
{% endblock %}
