<h1>Contact client</h1>
<p><strong>Demande de :</strong> {{ contact.name }} {{ contact.firstname }}.</p>
<p><strong>Email :</strong> {{ contact.email }}.</p>
<p><strong>Sujet :</strong> {{ contact.subject }}.</p>
<p><strong>Message :</strong></p>
<p>{{ contact.message }}</p>